<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HostSmtp" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="EnableSssl" value="true"/>
    <add key="SenderName" value="Anna Frączek"/>
    <add key="SenderEmail" value="afraczekszkolenie.net@gmail.com"/>
    <add key="SenderEmailPassword" value="encrypt:"/>
    <add key="ReciverEmail" value="aniabaj@gmail.com"/>
  </appSettings>
</configuration>